<h1>Quản lý tài khoản</h1>

<p *ngIf="!users"><em>Loading...</em></p>
<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <input type="text" class="form-control" placeholder="Search..."/>
        </div>
        <div class="pull-right">
            <button class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <button class="btn btn-info"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
            <button class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>
    </div>
</div>
<div class="clearfix mb20"></div>
<table class='table table-bordered table-condensed table-striped table-hover' *ngIf="users">
    <thead>
        <tr>
            <th>Tài khoản</th>
            <th>Tên đầy đủ</th>
            <th>Điện thoại</th>
            <th>Email</th>
            <th><input type="checkbox" name="chkAll" [checked]="isAllChecked()" (change)="checkAll($event)"/></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.username }}</td>
            <td>{{ user.fullName }}</td>
            <td>{{ user.mobile }}</td>
            <td>{{ user.email }}</td>
            <td>
                <input type="checkbox" name="userCheck[]" value="{{user.id}}" [(ngModel)]="user.state"/>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-default" (click)=showConfirm()>Show confirm</button>