<h1>Quản lý tài khoản</h1>

<p *ngIf="!users"><em>Loading...</em></p>
<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <input type="text" class="form-control" placeholder="Search..." />
        </div>
        <div class="pull-right">
            <button class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <button class="btn btn-info"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
            <button class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>
    </div>
</div>
<div class="clearfix mb20"></div>
<table class='table table-bordered table-condensed table-striped table-hover' *ngIf="users">
    <thead>
        <tr>
            <th>Tài khoản</th>
            <th>Tên đầy đủ</th>
            <th>Điện thoại</th>
            <th>Email</th>
            <th><input type="checkbox" name="chkAll" [checked]="isAllChecked()" (change)="checkAll($event)" /></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.username }}</td>
            <td>{{ user.fullName }}</td>
            <td>{{ user.mobile }}</td>
            <td>{{ user.email }}</td>
            <td>
                <input type="checkbox" name="userCheck[]" value="{{user.id}}" [(ngModel)]="user.state" />
            </td>
        </tr>
    </tbody>
</table>
<button type="button" class="btn btn-primary" (click)="staticModal.show()">Static modal</button>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <!--<div [hidden]="submitted">-->
    <form #heroForm="ngForm" *ngIf="active" (ngSubmit)="onSubmit()">
        <div class="modal-dialog modal-lgex" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title pull-left">Thêm mới tài khoản</h2>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="bs-callout bs-callout-primary">
                        <h4 class="text-primary">
                            Thông tin chính
                            <!--<span class="float-right">
                                <a class="doc-link" data-original-title="See official documentation" href="http://v4-alpha.getbootstrap.com/components/list-group/">
                                    <i class="fa fa-question-circle"></i>
                                </a>
                            </span>-->
                        </h4>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="username">Tài khoản</label>
                                <input type="text" id="username" class="form-control"
                                       required minlength="6" maxlength="50"
                                       name="username" #username="ngModel" [(ngModel)]="user.username">
                                <div *ngIf="username.errors && (username.dirty || username.touched)"
                                     class="alert alert-danger">
                                    <div [hidden]="!username.errors.required">
                                        Vui lòng nhập tài khoản!
                                    </div>
                                    <div [hidden]="!username.errors.minlength">
                                        Tài khoản tối thiểu 6 ký tự
                                    </div>
                                    <div [hidden]="!username.errors.maxlength">
                                        Tài khoản tối đa 50 ký tự
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="password">Mật khẩu</label>
                                <input type="text" id="password" class="form-control"
                                       required minlength="6" maxlength="50"
                                       name="password" #password="ngModel" [(ngModel)]="user.password">
                                <div *ngIf="password.errors && (password.dirty || password.touched)"
                                     class="alert alert-danger">
                                    <div [hidden]="!password.errors.required">
                                        Vui lòng nhập Mật khẩu!
                                    </div>
                                    <div [hidden]="!password.errors.minlength">
                                        Mật khẩu tối thiểu 6 ký tự
                                    </div>
                                    <div [hidden]="!password.errors.maxlength">
                                        Mật khẩu tối đa 50 ký tự
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="fullName">Họ tên</label>
                                <input type="text" id="fullName" class="form-control"
                                       required minlength="6" maxlength="50"
                                       name="fullName" #fullName="ngModel" [(ngModel)]="user.fullName">
                                <div *ngIf="fullName.errors && (fullName.dirty || fullName.touched)"
                                     class="alert alert-danger">
                                    <div [hidden]="!fullName.errors.required">
                                        Vui lòng nhập Họ tên!
                                    </div>
                                    <div [hidden]="!fullName.errors.minlength">
                                        Họ tên tối thiểu 6 ký tự
                                    </div>
                                    <div [hidden]="!fullName.errors.maxlength">
                                        Họ tên tối đa 50 ký tự
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="mobile">Điện thoại</label>
                                <input type="text" id="mobile" class="form-control"
                                       required minlength="10" maxlength="50" pattern="^\d+$"
                                       name="mobile" #mobile="ngModel" [(ngModel)]="user.mobile">
                                <div *ngIf="mobile.errors && (mobile.dirty || mobile.touched)"
                                     class="alert alert-danger">
                                    <div [hidden]="!mobile.errors.required">
                                        Vui lòng nhập Điện thoại!
                                    </div>
                                    <div [hidden]="!mobile.errors.minlength">
                                        Điện thoại tối thiểu 10 ký tự
                                    </div>
                                    <div [hidden]="!mobile.errors.maxlength">
                                        Điện thoại tối đa 50 ký tự
                                    </div>
                                    <div [hidden]="!mobile.errors.pattern">
                                        Điện thoại Phải là số!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="email">Email</label>
                                <input type="text" id="email" class="form-control"
                                       required minlength="6" maxlength="50" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                       name="email" #email="ngModel" [(ngModel)]="user.email">
                                <div *ngIf="email.errors && (email.dirty || email.touched)"
                                     class="alert alert-danger">
                                    <div [hidden]="!email.errors.required">
                                        Vui lòng nhập Email!
                                    </div>
                                    <div [hidden]="!email.errors.minlength">
                                        Email tối thiểu 6 ký tự
                                    </div>
                                    <div [hidden]="!email.errors.maxlength">
                                        Email tối đa 50 ký tự
                                    </div>
                                    <div [hidden]="!email.errors.pattern">
                                        Sai định dạng Email!
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="address">Địa chỉ</label>
                                <input type="text" id="address" class="form-control" name="address" [(ngModel)]="user.address">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="orders">Thứ tự</label>
                                <input type="text" id="orders" class="form-control" required
                                       name="orders" #orders="ngModel" [(ngModel)]="user.orders">
                                <div *ngIf="orders.errors && (orders.dirty || orders.touched)"
                                     class="alert alert-danger">
                                    <div [hidden]="!orders.errors.required">
                                        Vui lòng nhập Thứ tự!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bs-callout bs-callout-info">
                        <h4 class="text-info">
                            Thông tin thêm
                            <!--<span class="float-right">
                                <a class="doc-link" data-original-title="See official documentation" href="http://v4-alpha.getbootstrap.com/components/list-group/">
                                    <i class="fa fa-question-circle"></i>
                                </a>
                            </span>-->
                        </h4>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="flag">Trạng thái</label>
                                <input type="text" id="flag" class="form-control" required
                                       name="flag" #flag="ngModel" [(ngModel)]="user.flag">
                                <div *ngIf="flag.errors && (flag.dirty || flag.touched)"
                                     class="alert alert-danger">
                                    <div [hidden]="!flag.errors.required">
                                        Vui lòng nhập Thứ tự!
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Thêm mới" (click)="staticModal.hide()" [disabled]="!heroForm.form.valid" />
                    <span class="btn btn-default" (click)="staticModal.hide()">Hủy bỏ</span>
                </div>
            </div>
        </div>
    </form>
    <!--</div>-->
</div>
<!--<hero-submitted [hero]="hero" [(submitted)]="submitted"></hero-submitted>-->